{{#partial "content"}}


<p>Content:</p>
<p>{{ post.content }}</p>
<h5>Author:</h5>
<p>{{ author }}

    <a href="/authors/{{id}}/posts/{{postId}}/update">Edit this post</a><br>
    <a href="/posts/{{post.authorId}}/posts/{{posts.id}}/delete">DELETE this post (no undo)</a>
</p>
{{/partial}}

{{> layout.hbs}}